# Dependencies
node_modules/
Frontend/node_modules/
Server/node_modules/

# Environment variables
.env
Frontend/.env
Server/.env

# Build folders
Frontend/build/
dist/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db